{% extends "base.html" %}
{% block content %}
{% if request.user.is_authenticated %} {% for message in messages %}
<div>
    <span>[{{message.created_at}}]</span>
    <span>{{message.author.first_name}} </span>:
    <span><i>{{message.text}}</i></span>
</div>
{% endfor %}


<script>
    async function sendMessage() {
        try {
            let formData = new FormData();
            let token = '{{csrf_token}}';
            formData.append('textmessage', messageField.value);
            formData.append('csrfmiddlewaretoken', token );

            let response = await fetch('/chat/', {
                method: 'POST',
                body: formData
            });

            if (!response.ok) // or check for response.status
                throw new Error(response.statusText);
             console.log("Success!!")

        } catch (error) {
            console.error(error);
        }
    }
</script>

<!-- Textfield with Floating Label -->
<form onsubmit="sendMessage(); return false;" method="post">
    {% csrf_token %}
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input name="textmessage" class="mdl-textfield__input" type="text" id="messageField">
        <label class="mdl-textfield__label" for="messageField">Text...</label>
    </div>
    <!-- Accent-colored raised button with ripple -->
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        Send
    </button>
</form>
{%else%}
<h1>Not Logged In</h1>
<p>
    Your are currently not Logged in. Please Login.<br> Click here
    <a href="/login/">here</a>
</p>

{% endif %}
{% endblock %}