{% extends "base.html" %}
{% block content %}
{% if request.user.is_authenticated %} {% for message in messages %}
<div>
    <span>[{{message.created_at}}]</span>
    <span>{{message.author.first_name}} </span>:
    <span><i>{{message.text}}</i></span>
</div>
{% endfor %}
<!-- Textfield with Floating Label -->
<form action="/chat/" method="post">
    {% csrf_token %}
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input name="textmessage" class="mdl-textfield__input" type="text" id="sample3">
        <label class="mdl-textfield__label" for="sample3">Text...</label>
    </div>
    <!-- Accent-colored raised button with ripple -->
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
    Send
</button>
</form>
{%else%}
<h1>Not Logged In</h1>
<p>
    Your are currently not Logged in. Please Login.<br> Click here
    <a href="/login/">here</a>
</p>

{% endif %}
{% endblock %}