.page-content {
    padding: 30px 30px;
}

.mdl-layout__drawer .mdl-navigation{
    flex: 1;
}

.mdl-layout__drawer .mdl-navigation .log-out{
    margin-top: auto;
}

.error-text{
    color: red;
    text-decoration: underline;
}

#searchForm{
   /* display: flex;
   align-items: center; */
}

header .mdl-textfield{
    width: unset;
    color: black;
}

header .mdl-card{
    min-height: unset;
    width: unset;
}

header .mdl-card .mdl-card__actions{
    padding: 0 8px;
}

header .mdl-layout__header-row{
    max-height: 100px;
    height: 74px;
}

header .mdl-layout__drawer-button{
    top: 9px;
}

#searchResultsContainer .mdl-list__item{
    margin: 20px;
    transition: all 300ms;
}

#searchResultsContainer .mdl-list__item:hover{
    margin-left: 40px;
    transform: scale(1.1);
    cursor: pointer;
}