{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/password-forgot.css' %}">
<script defer src="{% static 'js/password-forgot.js' %}"></script>
<div class="mdl-card  mdl-card--border mdl-shadow--16dp">
    <div class="mdl-card__title">
        <h1 class="mdl-card__title-text">Forgot Password</h1>
    </div>
    <div class="mdl-card__supporting-text">
        <h6>
            Please enter the email address you used to create your account and we will send you a confirmation email.
            Please don't forget to check your spam folder.
        </h6>
    </div>
    <div class="mdl-card__media">

    </div>
    <div class="mdl-card__supporting-text">
        <h6 id="errorLog" class="error-text"></h6>
    </div>
    <div class="mdl-card__actions">
        <form onsubmit="handleSubmit(event);">
            {% csrf_token %}
            <input type="hidden" name="redirect" value="{{ redirect }}">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input name="username" class="mdl-textfield__input" type="text" required>
                <label class="mdl-textfield__label" for="username">Username...</label>
            </div>

            <!-- <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input name="email" class="mdl-textfield__input" type="email" required>
                <label class="mdl-textfield__label" for="email">Email...</label>
            </div> -->

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input name="email" class="mdl-textfield__input" type="email" required>
                <label class="mdl-textfield__label" for="email">Email...</label>
            </div>

            <div>
                <button type="submit"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                    Reset Password
                </button>
                <div style="display: flex; justify-content: space-between">
                    {% if redirect %}
                    <a class="mdl-button mdl-js-button mdl-button--accent" href="/login/?next=/chat/">Log In</a>
                    {% endif %}

                    {% if redirect == None %}
                    <a class="mdl-button mdl-js-button mdl-button--accent" href="/login/">Log In</a>
                    {% endif %}

                    {% if redirect %}
                    <a class="mdl-button mdl-js-button mdl-button--accent" href="/register/?next=/chat/">Register</a>
                    {% endif %}

                    {% if redirect == None %}
                    <a class="mdl-button mdl-js-button mdl-button--accent" href="/register/">Register</a>
                    {% endif %}
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}